<!doctype html>
<html>
  <head>
    <title>Geocode</title>
  </head>
  <body>
    <h1>Geocode</h1>
    <button id="findme">Find Me</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/findme.js"></script>
  </body>
</html>
