<!doctype html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h3>Nav Bar</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/square">Square</a></li>
      <li><a href="/distance">Distance</a></li>
      <li><a href="/sum">Sum</a></li>
    </ul>
  </body>
</html>
